<body>
<div class="wrapper" id="js_wrapper">

	<header class="header">
		<div class="header_inner">
			<div class="header_logo">aaaa</div>
			<div class="header_module">b</div>
			<div class="header_module">c</div>
			<div class="header_module">dddd</div>
		</div>
	</header>