<body>
<h1>これはのサンプルです。</h1>
<div class="wrapper" id="js_wrapper">
	<h2>aaaaa</h2>
	<header class="header">
		<div class="header_inner">
			<div class="header_logo"><span class="icon--areaPink"></span>aaaa</div>
			<div class="header_module">b</div>
			<div class="header_module">c</div>
			<div class="header_module">dddd</div>
		</div>
		<nav>
			<ul>
				<li>aaa</li>
				<li>aaa</li>
				<li>aaa</li>
			</ul>
		</nav>
	</header>


</div>