@import "./_partial/icon"
@import "./_partial/mixin"

body
  font-size 1rem
  background #ccc

.box
  background linear-gradient(red, blue)

 div
   background-size 100px 100px

 p
   border-radius 3px
   font-size 14px
   width 100px
   display flex
   font-size 12px
   border 1px solid #000
   color #000
   right 10px

 li
   box-sizing border-box
   font-size 12px
   display table-cell
   widows 100px
   left 0
   right 0
   top 0
   bottom 0
   clearfix()

 .icon--areaPink
   display block
   left 10px





























