$color: #fff;

@mixin media($size){
  @media screen and (max-width : $size){
    @content;
  }
}


html{
  background: #ccc;
}


a{
  background: #F6F7EF;
}

body{
  font-size: 15px;
  margin: 0 auto;
}

h1{
  font-size: 1.5rem;
}

@include media(980px){
  body{
    color: #ccc;
  }
}

@include media(980px){
  h1{
    color: #ccc;
    background: #000;
  }
}

.box{
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(red, blue);

  @include media(768px){
    color: #ccc;
    font-size: 1rem;

  }

  div{
    float: left;
    text-align: center;
    width: 30%;
    border-color: #000;
    background: #000;
  }

  p{
    margin: 10px;
    @include media(768px){
      float: left;
      position: absolute;
    }

    a{
      display: block;
    }
  }

  li {
    display: flex;
  }



  .aaa {
    display: flex;
    flex-direction: column;
    background: linear-gradient(red, blue);

    left: 0;

  }

}
